<div class="hero">
    <br />
    <div class="frosty col-10 offset-1 text-center">
        <br />
        <h1>Kickstart Your RxSafe Knowledge!</h1>
        <br />
        <h2>Get educated on the RxSafe 1800 and RapidPakRx</h2>
        <br />
        <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
        <br /><br />
    </div>
</div>
<br />
<div class="row feature text-center">
    <div class="col-12 col-sm">
        <h3>Complete Online Training</h3>
        <br />
        <p>Self-paced video training to get you ready for automation in your pharmacy</p>
    </div>

    <div class="col-12 col-sm">
        <%= link_to "https://www.gotostage.com/channel/34c954e8ad1e40a7888f41ce97ca7a2c", class: 'external-link', target: "_blank" do %>
            <h3>Access Our Webinar Archive</h3>
        <% end %>
        <br />
        <p>Check out our recorded monthly webinars</p> 
    </div>

    <div class="col-12 col-sm">
        <%= link_to "https://support.rxsafe.com", class: 'external-link', target: "_blank" do %>
            <h3>Join Our Community</h3>
        <% end %>
        <br />
        <p>Connect with like-minded pharmacy professionals</p>
    </div>
</div>
